nav {
  overflow: hidden;
  margin: 7px 0 0 10px;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #000;
  opacity: 0.75;
  text-decoration: none;
  padding-top: 14px;
  padding-left: 15px;

}

/* Underline links on hover */
nav a:hover {
  text-decoration: underline;
}

/* Nav bar right side positioning*/
.navRight {
	min-width: 165px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: right;
	float: right;
}

/* This id styles and positions the apps icon*/
#apps {
	opacity: .66;
	position: relative;
	bottom: 5px;
}

/* This id styles and positions the sign-in button, some values taken from original Google site*/
#signin {
	font-weight: bold;
	text-align: left;
	outline: none;
	border: 1px solid #4285f4;
	background: #4285f4;
	padding: 0 12px !important;
	border-radius: 2px;
	height: 28px;
	color: #fff;
	margin: 6px 6px 6px 20px;
	display: inline-block;
}

body, a{
	font-family: arial,sans-serif;
	font-size: 13px;
	/*width: 100%;*/
	/*text-align: center;*/
}

/* Google logo in the center of the page, some values from original Google site*/
.google-image {
	margin: auto;
	padding-top: 109px;
	width: 272px;
	height: 92px;
}

.search-form {
	position: relative;
	margin: 25px auto;
	width: 50%;
}

.search-bar {
	padding: 0px 6px 0 16px;
	background: #fff;
	display: flex;
	border: 1px solid #dfe1e5;
	border-radius: 24px;
	margin: 0 auto;
	width: 545px;
	outline: none;
	height: 40px;
}

.search-box:hover {
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
	border-color: rgba(223, 225, 229, 0);
}

#search-cursor {
	/*-webkit-writing-mode: horizontal-tb !important;*/
	padding-left: 37px;
}

/* Magnifying glass image in search bar taken from original Google site*/
.magnifying-image {
	color: #9AA0A6;
	height: 20px;
	width: 20px;
	top: 16px;
	left: 75px;
	position: absolute;
	
	
	/*padding-right: 20px;*/
	margin-top: -5px;
}

.mic-image {
	top: 12px;
	right: 70px;

	position: absolute;
}


.search-buttons{
	display: block;
	text-align: -webkit-center;
	padding-top: 18px;
}

.bttn {
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	margin: 11px 4px;
	border-radius: 4px;
	color: #5F6368;
	font-family: arial,sans-serif;
	font-size: 14px;
	padding: 0 16px;
	height: 36px;
	width: 140px;
	
	text-align: center;
	cursor: pointer;
	appearance: push-button;
}

#lucky-bttn {
	width: 150px;
}


